<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh">
  <div class="card p-4 shadow" style="width: 350px">
    <h3 class="card-title text-center mb-4">Register</h3>

    <form [formGroup]="registerForm">
      <div class="mb-3">
        <label for="username" class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Enter your username" 
        formControlName="full_name">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Enter your email"
        formControlName="email">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">MobileNo</label>
        <input type="number" class="form-control" placeholder="Enter your Mobile No" 
        maxlength="10" formControlName="mobile_no">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input  type="password" class="form-control" placeholder="Enter your password"
        formControlName="password">
      </div>

      <div class="mb-3">
        <label for="confirm" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" placeholder="Confirm your password"
        (change)="matchPassword($event)">
        <div class="text-danger">{{msg}}</div>
      </div>

      <button type="submit" class="btn btn-primary w-100">Register</button>

      <div class="text-center mt-3">
        <a routerLink="/login" class="link-primary">Already have an account? Login</a>
      </div>
    </form>
  </div>
</div>